nav {
    width: 100%;
    text-align: center;
    background-color: white;
}

nav ul {
    display: inline-block;
}

#topNavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.navLi {
    float: left;
}

.navLi a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navLi a:hover {
    font-weight: bold;
}

.logoNav {
    height: 50px;
    width: auto;
    background-color: white;
}